# Environment Variables
.env
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
*.code-workspace

# Maven
target/

# Compiled class files
*.class

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

#Firebase
jashsports-firebase-adminsdk-fbsvc-94fb012fce.json
